.Navbar{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 95px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20%;
    background-color: var(--crna);
    padding: 1rem;
    box-sizing: border-box;
}

.NavbarUl{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 3rem;
}

.NavbarUl li a{
    text-decoration: none;
    color: var(--bela);
    font-size: 1.2rem;
}

.Navbar_ikonica{
    position: relative;
    left: 10%;
}