.weekly-plan {
    position: absolute;
    left: 0;
    right: 0;
    top: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--siva);
    color: var(--bela);
    font-family: Arial, sans-serif;
    padding: 20px;
    height: 100vh;
  }
  
  .weekly-plan h1 {
    color: var(--crna);
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 0;
  }
  
  .week {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  
  .day {
    flex: 1;
    background-color: var(--crna);
    margin: 0 5px;
    padding: 10px;
    border-radius: 5px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .day h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .tasks {
    display: flex;
    flex-direction: column;
  }
  
  .task {
    background-color: var(--narandzasta);
    padding: 5px 20px;
    margin-bottom: 5px;
    border-radius: 3px;
    text-align: center;
  }
  
  .date-input {
    background-color: var(--crna);
    color: var(--bela);
    border: none;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    border-radius: 3px;
  }

  .weekly-plan hr{
    position: relative;
    border: none; 
    height: 5px; 
    background-color: var(--narandzasta); 
    border-radius: 10px; 
    width: 12rem; 
    left: -7rem;
    margin-bottom: 3rem;
  }

  .button_plusNp {
    position: relative;
    width: 35px;
    height: 35px;
    background: var(--narandzasta);
    cursor: pointer;
    border: 2px solid var(--narandzasta);
    border-radius: 50%;
    margin-top: 10px;
  }
  
  .button_plusNp:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50%;
    background: var(--bela);
    top: 50%;
    left: 50%;
  }
  
  .button_plusNp:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bela);
    height: 50%;
    width: 4px;
  }
  
  .button_plusNp:hover:before,
  .button_plusNp:hover:after {
    background: #fff;
    transition: 0.2s;
  }
  
  .button_plusNp:hover {
    background-color: #b55400;
    transition: 0.2s;
  }