.Pocetna-container{
    background-color: var(--siva);
    position: absolute;
    left: 0;
    right: 0;
    top: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.Pocetna-paragrafi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    gap: 12rem;
    left: -40px;
    color: var(--narandzasta);
    font-size: 1.2rem;
    font-weight: 500;
}

.Pocetna-taskovi{
    background-color: var(--crna);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 550px;
    min-width: 900px;
}

.button_plus {
    position: relative;
    width: 35px;
    height: 35px;
    background: var(--narandzasta);
    cursor: pointer;
    border: 2px solid var(--narandzasta);
    border-radius: 50%;
    left: -45%;
    margin-top: 10px;
  }
  
  .button_plus:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50%;
    background: var(--bela);
    top: 50%;
    left: 50%;
  }
  
  .button_plus:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bela);
    height: 50%;
    width: 4px;
  }
  
  .button_plus:hover:before,
  .button_plus:hover:after {
    background: #fff;
    transition: 0.2s;
  }
  
  .button_plus:hover {
    background-color: #b55400;
    transition: 0.2s;
  }

  .paginacijaB{
    margin-top: 5px;
    color: var(--crna);
  }
  .cancelB{
    margin-left: 10px;
    background-color: rgb(250, 34, 34);
    color: var(--bela);
  }
  .addTaskB{
    margin-left: 10px;
    background-color: var(--narandzasta);
    color: var(--bela);
  }

  input{
    border: 1px solid var(--narandzasta);
    border-radius: 10px;
    padding: 10px 20px;
    background-color: var(--siva);
    color: var(--bela);
  }
  ::placeholder{
    color: var(--bela);
  }
  .spanP {
    color: var(--bela);
    margin: 0 5px;
  }