@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: "Roboto", sans-serif; /* dodat font */
  background-color: #686D76;
}

h1 {
  
}

a {
    text-decoration: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
